#container {
	font-family: 'Source Sans Pro', sans-serif;
	margin: 20px auto 20px auto;
	border: 20px solid #bdc3c7;
	padding: 0 20px 20px 20px;
	max-width: 800px;
	width: 80%;
}

h2 {
	font-size: 2.0rem;
}

.post {
	margin-bottom: 20px;
}

.post p:first-of-type {
	text-transform: uppercase;
	color: #3498db;
	letter-spacing: 0.2rem;
}

.post p:nth-of-type(2) {
	border-left: 5px solid #bdc3c7;
	padding-left: 5px;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}